.LoadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 100px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .CircleWrapper {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .Dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #007bff;
    border-radius: 50%;
    animation: pulse 1.2s infinite;
  }
  
  .Dot:nth-child(1) {
    animation-delay: 0s;
  }
  .Dot:nth-child(2) {
    animation-delay: 0.15s;
  }
  .Dot:nth-child(3) {
    animation-delay: 0.3s;
  }
  .Dot:nth-child(4) {
    animation-delay: 0.45s;
  }
  .Dot:nth-child(5) {
    animation-delay: 0.6s;
  }
  .Dot:nth-child(6) {
    animation-delay: 0.75s;
  }
  .Dot:nth-child(7) {
    animation-delay: 0.9s;
  }
  .Dot:nth-child(8) {
    animation-delay: 1.05s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .LoadingText {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
  }
  