.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    top: 0%;
    background-color: white;
}

.navleft{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navhome{
    text-decoration: none;
    border: none;
}
.navleft h1{
    font-size: 20px;
    color: black;
}
.navright{
    display: flex;
    align-items: center;
    font-size: 15px; 
    gap: 20px;  
}
.carticon{
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.user{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* SEARCHBAR */

.search-container {
    width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }


  .navcartcount{
    position: absolute;
    top: 5px;
    right: 110px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    min-width: 20px;
}